<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog__0096_Layer-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>dog__0097_Layer-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,80},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,73}}</string>
                <key>sourceSize</key>
                <string>{95,73}</string>
            </dict>
            <key>dog__0098_Layer-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0099_Layer-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,230},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0100_Layer-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0101_Layer-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{90,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>dog__0102_Layer-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,73}}</string>
                <key>sourceSize</key>
                <string>{95,73}</string>
            </dict>
            <key>dog__0103_Layer-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{95,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,76}}</string>
                <key>sourceSize</key>
                <string>{95,76}</string>
            </dict>
            <key>dog__0104_Layer-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,155},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0105_Layer-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0106_Layer-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>dog__0107_Layer-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,80},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,73}}</string>
                <key>sourceSize</key>
                <string>{95,73}</string>
            </dict>
            <key>dog__0108_Layer-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0109_Layer-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,230},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0110_Layer-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0111_Layer-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{90,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>dog__0112_Layer-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,73}}</string>
                <key>sourceSize</key>
                <string>{95,73}</string>
            </dict>
            <key>dog__0113_Layer-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{95,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,76}}</string>
                <key>sourceSize</key>
                <string>{95,76}</string>
            </dict>
            <key>dog__0114_Layer-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,155},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>dog__0115_Layer-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DogWalk.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a926319e04fbccf957fafdb96101e682$</string>
            <key>textureFileName</key>
            <string>DogWalk.png</string>
        </dict>
    </dict>
</plist>
