<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fox__0020_Layer-52.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0021_Layer-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0022_Layer-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0023_Layer-49.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0024_Layer-48.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0025_Layer-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0026_Layer-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0027_Layer-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0028_Layer-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0029_Layer-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>fox__0030_Layer-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxIdle3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecce9699306c39b2133fa7e0f41de3c1$</string>
            <key>textureFileName</key>
            <string>FoxIdle3.png</string>
        </dict>
    </dict>
</plist>
