<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoxWalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
            <key>BoxWalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
            <key>BoxWalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
            <key>BoxWalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BoxWalk.png</string>
            <key>size</key>
            <string>{266,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e928bd672f8b6bf4bfe55233ebe42525:0c2c4abd6231a03d1ae8613933d4956c:41a104a0dfc6acd61439315bdc58c220$</string>
            <key>textureFileName</key>
            <string>BoxWalk.png</string>
        </dict>
    </dict>
</plist>
