<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoxWalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
            <key>FoxWalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
            <key>FoxWalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
            <key>FoxWalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FoxWalk.png</string>
            <key>size</key>
            <string>{266,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd941a4633e5296850d23234b5cc8dd0:39be26b0a68caee2fbbc707006477e23:484920f5c92978f3aed41ee44a4ffd94$</string>
            <key>textureFileName</key>
            <string>FoxWalk.png</string>
        </dict>
    </dict>
</plist>
